.studentsummary
{
 border:none;
 outline:none;
 text-align:left;
}
td.studentsummary
{
  border: none;
}

 .timeline {
border: solid 2px;
border-collapse: collapse;
text-align:left;
}


 tr {
    border: solid 1px;
    }
 td {
    border: solid 1px;
    }
 th {
    border: solid 1px;
    }